<a href="https://colab.research.google.com/github/Elijahpe20/google_collab_evr/blob/main/ejercicios_python_colabEVR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêç 30 Ejercicios de Python para Principiantes
## Ciencia de Datos 2025

**Temas cubiertos:**
- `print()` - Mostrar informaci√≥n
- Variables y tipos de datos (`int`, `float`, `str`, `bool`)
- Operaciones y c√°lculos b√°sicos

**Niveles:**
- üü¢ B√°sico (Ejercicios 1-10)
- üü° Intermedio (Ejercicios 11-20)
- üî¥ Avanzado (Ejercicios 21-30)

---

# üü¢ NIVEL B√ÅSICO (Ejercicios 1-10)

## Ejercicio 1: Mi primer mensaje
Usa `print()` para mostrar el mensaje: **"¬°Hola, estoy aprendiendo Python!"**

In [ ]:
print ("¬°Hola, estoy aprendiendo Python!")

¬°Hola, estoy aprendiendo Python!

## Ejercicio 2: Presentaci√≥n personal
Escribe **3 l√≠neas** usando `print()` para mostrar:
- Tu nombre
- Tu ciudad
- Tu comida favorita

In [ ]:
print ("El√≠as")
print ("Medell√≠n")
print ("Caldo de gallina")

El√≠as
Medell√≠n
Caldo de gallina

## Ejercicio 3: Crear variables de texto
Crea una variable llamada `saludo` que contenga el texto **"Buenos d√≠as"** y luego impr√≠mela.

In [ ]:
saludo = "buenos d√≠as"
print (saludo)

buenos d√≠as

## Ejercicio 4: Variables num√©ricas enteras
Crea una variable `mi_edad` con tu edad (n√∫mero entero) y mu√©strala con `print()`.

In [ ]:
mi_edad = 39
print (mi_edad)

39

## Ejercicio 5: Variables decimales
Crea una variable `temperatura` con el valor **36.5** (un float) e impr√≠mela.

In [ ]:
temperatura = 36.5
print (temperatura)

36.5

## Ejercicio 6: Variables booleanas
Crea una variable `es_mayor_de_edad` con valor `True` o `False` seg√∫n tu caso, e impr√≠mela.

In [ ]:
es_mayor_de_edad = "true"
print (es_mayor_de_edad)

true

## Ejercicio 7: Suma simple
Crea dos variables `a = 15` y `b = 27`. Calcula su suma, gu√°rdala en `resultado` e impr√≠mela.

In [ ]:
a = 15
b = 27
print (a + b)

42

## Ejercicio 8: Multiplicaci√≥n
Crea las variables `precio = 50` y `cantidad = 4`. Calcula el total y mu√©stralo.

In [ ]:
# Escribe tu c√≥digo aqu√≠

## Ejercicio 9: Imprimir m√∫ltiples variables
Crea las variables `nombre = "Pedro"`, `edad = 30`, `ciudad = "Lima"`. Imprime las tres en una sola l√≠nea usando `print()`.

In [ ]:
nombre = "Pedro"
edad = "30"
ciudad = "Lima"
print (nombre, edad, ciudad)

Pedro 30 Lima

## Ejercicio 10: Promedio de dos n√∫meros
Calcula el promedio de `nota1 = 14` y `nota2 = 18`. Muestra el resultado.

In [ ]:
nota1 = 14
nota2 = 18

print ((nota1+nota2)/2)

16.0

---
# üü° NIVEL INTERMEDIO (Ejercicios 11-20)

## Ejercicio 11: Ficha personal completa
Crea variables para: `nombre` (str), `apellido` (str), `edad` (int), `peso` (float), `es_estudiante` (bool).
Imprime todas las variables con etiquetas descriptivas.

In [ ]:
nombre = str
apellido = str
edad = int
peso = float
es_estudiante = bool
print (nombre, apellido, edad, peso, es_estudiante)

<class 'str'> <class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Ejercicio 12: C√°lculo de descuento
Un producto cuesta **S/. 180**. Tiene un descuento del **15%**.
Calcula el monto del descuento y el precio final. Muestra ambos valores.

In [ ]:
# Escribe tu c√≥digo aqu√≠

## Ejercicio 13: Conversi√≥n de moneda
Tienes **250 d√≥lares**. El tipo de cambio es **3.75 soles por d√≥lar**.
Calcula cu√°ntos soles tienes y muestra el resultado.

In [ ]:
x = 250
y = 3.75
print (x*y)

937.5

## Ejercicio 14: C√°lculo de IMC
Calcula el √çndice de Masa Corporal (IMC) usando:
- `peso_kg = 68`
- `altura_m = 1.70`
- F√≥rmula: `IMC = peso_kg / (altura_m ** 2)`

Muestra el resultado.

In [ ]:
peso_kg = 68
altura_m = 1.70
IMC = peso_kg / (altura_m ** 2)
print (IMC)

23.529411764705884

## Ejercicio 15: Promedio de tres notas
Calcula el promedio de tres ex√°menes: `examen1 = 15`, `examen2 = 12`, `examen3 = 18`.
Muestra cada nota y el promedio final.

In [ ]:
examen1 = 15
examen2 = 12
examen3 = 18

print ((examen1+examen2+examen3)/3)

## Ejercicio 16: √Årea de un rect√°ngulo
Calcula el √°rea de un rect√°ngulo con `base = 12.5` y `altura = 8.3`.
F√≥rmula: `area = base * altura`

In [ ]:
base = 12.5
altura = 8.3
print (base*altura)

103.75000000000001

## Ejercicio 17: Uso de m√©todos de string
Crea la variable `mensaje = "python es genial"`.
- Imprime el mensaje en may√∫sculas usando `.upper()`
- Imprime el mensaje capitalizado usando `.capitalize()`

In [ ]:
mensaje = "python es genial"
print (mensaje.upper())
print(mensaje.capitalize())

PYTHON ES GENIAL
Python es genial

## Ejercicio 18: Verificar inicio de texto
Crea la variable `email = "usuario@gmail.com"`.
Usa `.startswith()` para verificar si empieza con **"usuario"** y `.endswith()` para verificar si termina con **".com"**.

In [ ]:
email = "usuario@gmail.com"
print (email.startswith("usuario"))
print (email.endswith(".com"))

True
True

## Ejercicio 19: Concatenaci√≥n de strings
Crea `nombre = "Ana"` y `apellido = "Garc√≠a"`.
Crea una variable `nombre_completo` que una ambas con un espacio en medio e impr√≠mela.

In [ ]:
nombre = "Ana"
apellido = "Garc√≠a"
nombre_completo = nombre + " " + apellido
print (nombre_completo)

Ana Garc√≠a

## Ejercicio 20: C√°lculo de propina
La cuenta del restaurante es **S/. 85**. Quieres dejar **10%** de propina.
Calcula la propina y el total a pagar. Muestra ambos valores.

In [ ]:
x = 85
y = 0.10
print("Propina", x*y)
print("Total a pagar",x - (x*y))

Propina 8.5
Total a pagar 76.5

---
# üî¥ NIVEL AVANZADO (Ejercicios 21-30)

## Ejercicio 21: Registro de producto (e-commerce)
Crea un registro completo de un producto con:
- `nombre_producto` (str)
- `precio` (float)
- `stock` (int)
- `disponible` (bool)
- `categoria` (str)

Imprime un resumen formateado con etiquetas.

In [ ]:
nombre_producto = str
precio = float
stock = int
disponible = bool
categor√≠a = str
print (nombre_producto, precio, stock, disponible, categor√≠a)

<class 'str'> <class 'float'> <class 'int'> <class 'bool'> <class 'str'>

## Ejercicio 22: C√°lculo de salario neto
Un empleado tiene un `salario_bruto = 3500`.
Se le descuenta **13%** de AFP y **5%** de seguro.
Calcula el total de descuentos y el salario neto.

In [ ]:
salario_bruto = 3500
descuento = 0.13
seguro = 0.15
print ("total de descuentos", salario_bruto * descuento)
print ("Salario total", salario_bruto - (salario_bruto * descuento))

total de descuentos 455.0
Salario total 3045.0

## Ejercicio 23: Conversi√≥n de temperatura
Convierte **98.6 grados Fahrenheit** a Celsius.
F√≥rmula: `celsius = (fahrenheit - 32) * 5 / 9`

Muestra el resultado con una etiqueta descriptiva.

In [ ]:
farenheit = 98.6
celsius = (farenheit - 32) * 5/9
print (celsius)

37.0

## Ejercicio 24: Inter√©s simple
Calcula el inter√©s simple de un pr√©stamo:
- `capital = 10000`
- `tasa_anual = 12` (porcentaje)
- `tiempo_a√±os = 2`

F√≥rmula: `interes = capital * (tasa_anual/100) * tiempo_a√±os`

Muestra el inter√©s y el monto total a pagar.

In [ ]:
capital = 10000
tasa_anual = 0.12
tiempo_a√±os = 2
interes = capital * (tasa_anual/100) * tiempo_a√±os
print (interes)

23.999999999999996

## Ejercicio 25: √Årea y per√≠metro de un c√≠rculo
Dado un `radio = 5`, calcula:
- √Årea: `pi * radio ** 2`
- Per√≠metro: `2 * pi * radio`

Usa `pi = 3.14159`

In [ ]:
radio = 5
pi = 3.14159
print ("√Årea", pi * radio ** 2)
print ("Per√≠metro", pi * radio)

√Årea 78.53975
Per√≠metro 15.70795

## Ejercicio 26: Tarjeta de presentaci√≥n
Crea una tarjeta de presentaci√≥n usando `print()` con este formato:
```
‚ïî‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïó
‚ïë      [TU NOMBRE]             ‚ïë
‚ïë      [TU PROFESI√ìN]          ‚ïë
‚ïë      Tel: [TU TEL√âFONO]      ‚ïë
‚ïë      Email: [TU EMAIL]       ‚ïë
‚ïö‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïù
```

In [ ]:
w = "El√≠as"
x = "Comunicador"
y = 3112065036
z = "veliasr86@gmail.com"
print("TU_NOMBRE", w)
print("TU_PROFESI√ìN", x)
print("Tel:", y)
print("Email:", z)

TU_NOMBRE El√≠as
TU_PROFESI√ìN Comunicador
Tel: 3112065036
Email: veliasr86@gmail.com

## Ejercicio 27: Divisi√≥n de gastos
Tres amigos van a un restaurante. La cuenta total es **S/. 156.50**.
Calcula cu√°nto debe pagar cada uno si dividen en partes iguales.
Muestra el total y el monto individual.

In [ ]:
x = 3
y = 156.50
print ("Total_a_pagar", y)
print ("Pago_por_partes", y/x)

Total_a_pagar 156.5
Pago_por_partes 52.166666666666664

## Ejercicio 28: C√°lculo de velocidad
Un auto recorre **450 km** en **5.5 horas**.
Calcula la velocidad promedio usando: `velocidad = distancia / tiempo`

Muestra el resultado en km/h.

In [ ]:
x = 450
y = 5.5
print ("velocidad", x/y)

velocidad 81.81818181818181

## Ejercicio 29: Resumen de ventas diarias
Una tienda tuvo las siguientes ventas en un d√≠a:
- Ma√±ana: S/. 850
- Tarde: S/. 1200
- Noche: S/. 650

Calcula el total del d√≠a y el promedio por turno.
Imprime un reporte formateado con todos los datos.

In [ ]:
ventas_ma√±ana = 850
ventas_tarde = 1200
ventas_noche = 650
print ("Total del d√≠a", ventas_ma√±ana + ventas_tarde + ventas_noche)
print ("Promedio Total", ((ventas_ma√±ana + ventas_tarde + ventas_noche)/3))

Total del d√≠a 2700
Promedio Total 900.0

## Ejercicio 30: Proyecto final - Perfil de datos personales
Crea un programa que muestre tu perfil completo con:

1. **Datos personales:** nombre, edad, ciudad, profesi√≥n
2. **Datos f√≠sicos:** peso (kg), altura (m), IMC calculado
3. **Datos financieros:** salario mensual, gasto mensual promedio, ahorro mensual

Muestra todo en un formato de reporte bonito usando `print()` con separadores y etiquetas.

In [ ]:
Nombre = "El√≠as"
Edad = 39
Ciudad = "Lima"
Profesi√≥n = "Comunicador"
Peso = 77
Altura = 1.68
Salario_mensual = 5000000
Gasto_mensual_promedio = 3800000
Ahorro_mensual = 1200000
print(Nombre, Edad, Ciudad, Profesi√≥n, Peso, Altura, Salario_mensual, Gasto_mensual_promedio, Ahorro_mensual)

El√≠as 39 Lima Comunicador 77 1.68 5000000 3800000 1200000

---
# üéâ ¬°Felicitaciones!
Has completado los 30 ejercicios de Python.

**Pr√≥ximos pasos:**
- Revisa tus respuestas
- Experimenta modificando los valores
- Intenta crear tus propios ejercicios

**¬°Sigue practicando!** üöÄ