<a href="https://colab.research.google.com/github/Elijahpe20/google_collab_evr/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
frutas = ["manzana", "pera", "naranja", "plátano", "fresa"]
frutas.append("mango")
frutas.insert(2, "uva")
frutas.append("camu camu")
frutas.insert(3, "caimito")
print(frutas)

['manzana', 'pera', 'uva', 'caimito', 'naranja', 'plátano', 'fresa', 'mango', 'camu camu']

In [7]:
frutas = ["manzana", "pera", "naranja", "plátano", "fresa"]
frutas.remove("manzana")
frutas.pop(3)
print(frutas)

['pera', 'naranja', 'plátano']

In [8]:
frutas = ["manzana", "pera", "naranja", "plátano", "fresa"]
frutas.sort()
print(frutas)

['fresa', 'manzana', 'naranja', 'pera', 'plátano']

In [14]:
estudiante = ("Elías", 39, "soltero")
#estudiante[1] = 26
print(estudiante.count("soltero"))
print(estudiante.index(39)) #Se refiere al valor

1
1

In [17]:
producto = {"nombre": "cellphone", "precio": 1500, "stock": 10}
(producto["precio"]) = 1600 #se puede cambiar
print(producto["precio"])

1600

In [19]:
producto = {"nombre": "cellphone", "precio": 1500, "stock": 10}
producto["categoría"] = "Tecnología"
del producto["stock"]
print(producto)

{'nombre': 'cellphone', 'precio': 1500, 'categoría': 'Tecnología'}

In [20]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [39]:
distancia_km = 350
consumo_por_km = 0.08
precio_litro = 1.55

litros_necesarios = distancia_km * consumo_por_km
costo_total = litros_necesarios * precio_litro

km_sobrantes = distancia_km % 100

print(f"El costo total del viaje es: ${costo_total}")
print(f"Después de cada parada de 100km, sobran {km_sobrantes} km.")

El costo total del viaje es: $43.4
El costo total del viaje es:, (costo_total)
Después de cada parada de 100km, sobran 50 km.

In [55]:
compras = ["manzanas", "pan", "leche", "huevos", "arroz"]
print("Tercer elemento:", compras[2])
compras[1] = "pan integral"
print(compras)
compras.append("café")
print (compras)
compras.insert(1, "jabón")
print("Actualización de lista:", compras)
print("Ultimos tres elementos:", compras[-3:])
compras.remove("arroz")
print("Lista final:", compras)

Tercer elemento: leche
['manzanas', 'pan integral', 'leche', 'huevos', 'arroz']
['manzanas', 'pan integral', 'leche', 'huevos', 'arroz', 'café']
Actualización de lista: ['manzanas', 'jabón', 'pan integral', 'leche', 'huevos', 'arroz', 'café']
Ultimos tres elementos: ['huevos', 'arroz', 'café']
Lista final: ['manzanas', 'jabón', 'pan integral', 'leche', 'huevos', 'café']

In [64]:
colores_primarios = ("rojo", "amarillo", "azul")
#colores_primarios[0] = "verde"
#print("Nueva lista de colores primarios:", colores_primarios)
nuevos_colores = ("blanco", "negro")
todos_los_colores = colores_primarios + nuevos_colores
print("Nueva lista de colores:", todos_los_colores)

Nueva lista de colores: ('rojo', 'amarillo', 'azul', 'blanco', 'negro')

In [78]:
empleado = {
    "nombre": "Elías",
    "edad": 39,
    "puesto": "Analista de Datos",
    "habilidades": ["Python", "Git", "SQL"]
}

print("Puesto:", empleado["puesto"])
print("Segunda habilidad:", empleado["habilidades"][1])
empleado["sueldo"] = 3000
empleado["edad"] = 40
print(empleado)
del empleado["puesto"]
print(empleado)
print("Diccionario final:", empleado)

Puesto: Analista de Datos
Segunda habilidad: Git
{'nombre': 'Elías', 'edad': 40, 'puesto': 'Analista de Datos', 'habilidades': ['Python', 'Git', 'SQL'], 'sueldo': 3000}
{'nombre': 'Elías', 'edad': 40, 'habilidades': ['Python', 'Git', 'SQL'], 'sueldo': 3000}
Diccionario final: {'nombre': 'Elías', 'edad': 40, 'habilidades': ['Python', 'Git', 'SQL'], 'sueldo': 3000}

In [86]:
amigos_Elias = {"Lolo", "Cynthia", "Marly", "Junior"}
amigos_Julio = {"Marisol", "Junior", "Felipe", "Marfil"}

todos_los_invitados = amigos_Elias.union(amigos_Julio)
print(todos_los_invitados)

amigos_comunes = amigos_Elias.intersection(amigos_Julio)
print(amigos_comunes)

solo_Elías = amigos_Elias.difference(amigos_Julio)
print(solo_Elías)

solo_Julio = amigos_Julio.difference(amigos_Elias)
print(solo_Julio)

{'Marly', 'Marfil', 'Cynthia', 'Junior', 'Felipe', 'Marisol', 'Lolo'}
{'Junior'}
{'Marly', 'Cynthia', 'Lolo'}
{'Marisol', 'Felipe', 'Marfil'}